$zigzag-bg: #333538;
$body-bg: #f3f3f3;

.block__contact{
  @extend .is__background--c-secondary;
}
.contact__box{
  @include outer-container;
  @extend %pt-20;
  @extend %pb-20;
}
.contact__row{
  @extend .row;
}
.contact__column{
  @include span-columns(6);
}

%contact--text{
  @extend .is__text--centered;
  @extend .is__text--c-white;
  @extend .is__text--uppercase;
  @extend .is__text--bold;
  margin: 0;
}

.contact__message{
  @extend %contact--text;
  @extend .is__text--size--18ish;
  @extend %pb-6;
}
.contact__number{
  @extend %contact--text;
  @extend .is__text--size--giga;
}